LB4jaxwxFlowerServiceWebClient/flowers.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://practice7.sherbakov.nure.ua/server/service"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://practice7.sherbakov.nure.ua/server/service"
	name="Flowers">
	<types>
		<xsd:schema>
			<xsd:import
				namespace="http://sherbakov.nure.ua/practice7/entity"
				schemaLocation="http://localhost:9090/flowers?xsd=1"></xsd:import>
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://practice7.sherbakov.nure.ua/server/service"
				schemaLocation="http://localhost:9090/flowers?xsd=2"></xsd:import>
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://practice7.sherbakov.nure.ua/entity"
				schemaLocation="http://localhost:9090/flowers?xsd=3"></xsd:import>
		</xsd:schema>
	</types>
	<message name="findByName">
		<part name="parameters" element="tns:findByName"></part>
	</message>
	<message name="findByNameResponse">
		<part name="parameters" element="tns:findByNameResponse"></part>
	</message>
	<message name="getFlower">
		<part name="parameters" element="tns:getFlower"></part>
	</message>
	<message name="getFlowerResponse">
		<part name="parameters" element="tns:getFlowerResponse"></part>
	</message>
	<message name="DAOException">
		<part name="fault" element="tns:DAOException"></part>
	</message>
	<message name="findByOrigin">
		<part name="parameters" element="tns:findByOrigin"></part>
	</message>
	<message name="findByOriginResponse">
		<part name="parameters" element="tns:findByOriginResponse"></part>
	</message>
	<message name="deleteFlower">
		<part name="parameters" element="tns:deleteFlower"></part>
	</message>
	<message name="deleteFlowerResponse">
		<part name="parameters" element="tns:deleteFlowerResponse"></part>
	</message>
	<message name="listFlowers">
		<part name="parameters" element="tns:listFlowers"></part>
	</message>
	<message name="listFlowersResponse">
		<part name="parameters" element="tns:listFlowersResponse"></part>
	</message>
	<message name="addFlower">
		<part name="parameters" element="tns:addFlower"></part>
	</message>
	<message name="addFlowerResponse">
		<part name="parameters" element="tns:addFlowerResponse"></part>
	</message>
	<portType name="FlowerService">
		<operation name="findByName">
			<input
				wsam:Action="http://practice7.sherbakov.nure.ua/server/service/FlowerService/findByNameRequest"
				message="tns:findByName"></input>
			<output
				wsam:Action="http://practice7.sherbakov.nure.ua/server/service/FlowerService/findByNameResponse"
				message="tns:findByNameResponse"></output>
		</operation>
		<operation name="getFlower">
			<input
				wsam:Action="http://practice7.sherbakov.nure.ua/server/service/FlowerService/getFlowerRequest"
				message="tns:getFlower"></input>
			<output
				wsam:Action="http://practice7.sherbakov.nure.ua/server/service/FlowerService/getFlowerResponse"
				message="tns:getFlowerResponse"></output>
			<fault message="tns:DAOException" name="DAOException"
				wsam:Action="http://practice7.sherbakov.nure.ua/server/service/FlowerService/getFlower/Fault/DAOException"></fault>
		</operation>
		<operation name="findByOrigin">
			<input
				wsam:Action="http://practice7.sherbakov.nure.ua/server/service/FlowerService/findByOriginRequest"
				message="tns:findByOrigin"></input>
			<output
				wsam:Action="http://practice7.sherbakov.nure.ua/server/service/FlowerService/findByOriginResponse"
				message="tns:findByOriginResponse"></output>
		</operation>
		<operation name="deleteFlower">
			<input
				wsam:Action="http://practice7.sherbakov.nure.ua/server/service/FlowerService/deleteFlowerRequest"
				message="tns:deleteFlower"></input>
			<output
				wsam:Action="http://practice7.sherbakov.nure.ua/server/service/FlowerService/deleteFlowerResponse"
				message="tns:deleteFlowerResponse"></output>
			<fault message="tns:DAOException" name="DAOException"
				wsam:Action="http://practice7.sherbakov.nure.ua/server/service/FlowerService/deleteFlower/Fault/DAOException"></fault>
		</operation>
		<operation name="listFlowers">
			<input
				wsam:Action="http://practice7.sherbakov.nure.ua/server/service/FlowerService/listFlowersRequest"
				message="tns:listFlowers"></input>
			<output
				wsam:Action="http://practice7.sherbakov.nure.ua/server/service/FlowerService/listFlowersResponse"
				message="tns:listFlowersResponse"></output>
		</operation>
		<operation name="addFlower">
			<input
				wsam:Action="http://practice7.sherbakov.nure.ua/server/service/FlowerService/addFlowerRequest"
				message="tns:addFlower"></input>
			<output
				wsam:Action="http://practice7.sherbakov.nure.ua/server/service/FlowerService/addFlowerResponse"
				message="tns:addFlowerResponse"></output>
			<fault message="tns:DAOException" name="DAOException"
				wsam:Action="http://practice7.sherbakov.nure.ua/server/service/FlowerService/addFlower/Fault/DAOException"></fault>
		</operation>
	</portType>
	<binding name="FlowerPortBinding" type="tns:FlowerService">
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
		<operation name="findByName">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getFlower">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
			<fault name="DAOException">
				<soap:fault name="DAOException" use="literal"></soap:fault>
			</fault>
		</operation>
		<operation name="findByOrigin">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="deleteFlower">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
			<fault name="DAOException">
				<soap:fault name="DAOException" use="literal"></soap:fault>
			</fault>
		</operation>
		<operation name="listFlowers">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="addFlower">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
			<fault name="DAOException">
				<soap:fault name="DAOException" use="literal"></soap:fault>
			</fault>
		</operation>
	</binding>
	<service name="Flowers">
		<port name="FlowerPort" binding="tns:FlowerPortBinding">
			<soap:address location="http://localhost:9090/flowers"></soap:address>
		</port>
	</service>
</definitions>